.talleres {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 69px;
    position: relative;
}

.talleres .nuestros-talleres {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.talleres .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.talleres .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c1c1c;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.talleres .line {
    position: relative;
    width: 1323.1px;
    height: 1.1px;
}

.talleres .div {
    display: inline-flex;
    align-items: flex-start;
    gap: 115px;
    position: relative;
    flex: 0 0 auto;
}

.talleres .meditacin {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.talleres .rectangle {
    position: relative;
    width: 364px;
    height: 636px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid;
    border-color: #18524d;
    box-shadow: 4px 4px 7.7px #00000080;
}

.talleres .rectangle-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    top: 38px;
    left: 26px;
}

.talleres .img {
    position: relative;
    width: 304px;
    height: 216px;
}

.talleres .frame-2 {
    position: absolute;
    width: 304px;
    height: 251px;
    top: 293px;
    left: 26px;
}

.talleres .text-wrapper-2 {
    position: absolute;
    width: 254px;
    top: -1px;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.talleres .p {
    position: absolute;
    width: 304px;
    top: 59px;
    left: 0;
    font-family: "ABeeZee-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.talleres .button-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--background-colorsboton-tipo-2verde);
    border-radius: 32px;
    box-shadow: 4px 4px 7.7px #00000080;
}

.talleres .button {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--texto-para-p-ginas-subt-tulos-s-font-family);
    font-weight: var(--texto-para-p-ginas-subt-tulos-s-font-weight);
    color: var(--base-colorsblanco);
    font-size: var(--texto-para-p-ginas-subt-tulos-s-font-size);
    letter-spacing: var(--texto-para-p-ginas-subt-tulos-s-letter-spacing);
    line-height: var(--texto-para-p-ginas-subt-tulos-s-line-height);
    font-style: var(--texto-para-p-ginas-subt-tulos-s-font-style);
    all: unset;
    box-sizing: border-box;
}
