.container{
    background-color: white;
    width: auto;
    display:grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    }
    
/*HEADER */
    .header {
        display: grid;
        grid-row: 1; 
        grid-template-columns: auto;  
        grid-template-rows: 200px 100px 100px 100px ;      
        width: 100%;
        background-color: #18524d; 
        background-image: url(imagenes\mar.jpg);       
        background-size: cover;

      }  

    .header .LOGO {
        display: flex;
        width: 352px;
        height: 75px;
        align-items: center;
        position: absolute;
        top: 45px;
        left: 58px;
      }

      .header .textlogo {
        position: relative;
        width: fit-content;
        font-family: "Inter", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 32px;
        letter-spacing: 0;
        line-height: normal;
      }

      .header .text1 {
        display:flex;        
        justify-content: center;
        align-items: center;
        font-family: "Inter", Helvetica;
        font-weight: 600;
        color: #ffffff;
        font-size: 48px;
        
    }

    .header .button-wrapper{
        grid-row:3;
        display: flex; 
        justify-content: center;
        align-items: center;
       

    }
        
    .header .button1 {
    background-color: #7969d1;
    border-radius: 32px;    
    box-shadow: 4px 4px 7.7px #000000;
    width: 240px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-family: "Inter", "Helvetica";
    height: 48px;
    font-weight: bold;
    
    }

    .header .button1:hover {
      background-color: #665B28;
      box-shadow: 4px 4px 7.7px #000000;
    }

    .header .group{
      grid-row:4;
      display: flex; 
      justify-content: center;
      align-items: center;    
    }

    .header .text3{
      grid-row:4;
      display: flex; 
      justify-content: center;
      align-items: center;   
    }

    .header .bx-search{
      grid-row:4;
      display: flex; 
      justify-content: center;
      align-items: center; 
      background-color: #ffffff;  
      border-radius: 32px;    
      box-shadow: 4px 4px 7.7px #000000;
      text-align: left;
      font-family: "Inter", "Helvetica";
      height: 48px;
      font-weight: bold;
      width: 240px;
      margin-right: 10px;
      }

    .header .button2{
      display: flex;
      background-color: #8b7c3b;
      border-radius: 32px;    
      box-shadow: 4px 4px 7.7px #000000;
      width: 144px;
      font-size: 24px;
      color: #ffffff;
      font-family: "Inter", "Helvetica";
      height: 48px;
      font-weight: bold;     
      padding-left: 28px;
      padding-top: 7px;
      
    }

    .header .buscar{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .header .button2:hover{
      background-color: #665B28;
    }


/*NAV BAR */

.nav-bar{
grid-row: 2;
display: grid;
grid-template-columns: auto auto auto auto auto auto;
width: 100%;
height: 96px;

}

.nav-bar .botones-nav1 {
  grid-column: 1;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav1 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}

.nav-bar .botones-nav2 {
  grid-column: 2;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav2 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}

.nav-bar .botones-nav3 {
  grid-column: 3;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav3 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}

.nav-bar .botones-nav4 {
  grid-column: 4;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav4 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}
.nav-bar .botones-nav5 {
  grid-column: 5;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav5 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}

.nav-bar .botones-nav6 {
  grid-column: 6;    
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;  
  margin-top: 40px;  
  justify-content: space-around;

}

.nav-bar .bot-nav6 { 
  width: 200px; 
  height: 56px; 
  box-sizing: border-box;
  background-color: #18524d;
  border-radius: 32px;
  box-shadow: 4px 4px 7.7px #000000;
  color: #ffffff;
  font-size: 24px;
  justify-content: space-around;
  font-family: "Inter-SemiBold", Helvetica;  
  font-weight: bold;
  
}

.nav-bar .bot-nav1:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nav-bar .bot-nav2:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nav-bar .bot-nav3:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nav-bar .bot-nav4:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nav-bar .bot-nav5:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nav-bar .bot-nav6:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

.nuestros {
  grid-row: 3;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 64px auto;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
 
}

 .nuestros .tituloProf{  
  grid-row: 1;
  grid-column: 2;
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 48px;
    text-align: center;
    align-items: center;
    justify-content: center; 
 }

 .nuestros .divIm1{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  justify-content: center;  
  box-shadow: 4px 4px 7.7px #000000;
  border-radius: 20px;
}

.nuestros .frame-3 {
  grid-row: 2;
  grid-column: 2;
  display: grid;  
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  width: auto;
}

.nuestros .frame-3 .p {
  grid-row: 1;
  font-family:  'Georgia';
    font-weight: 400;
    color: #000000;
    font-size:32px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
    align-items: center;
    padding-left: 30px;
    font-weight: 200;
}
  .nuestros .divIm2{
  grid-row: 2;
  grid-column: 3;
  justify-content: center;
  display: flex;
  box-shadow: 4px 4px 7.7px #000000;
  border-radius: 20px;
}

.nuestros .frame-3 .botonCita{
  grid-row: 2;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.nuestros .frame-3 .botCita{
  display: flex;
  background-color: #8b7c3b;
  border-radius: 32px;    
  box-shadow: 4px 4px 7.7px #000000;
  width: 50%;
  font-size: 24px;
  color: #ffffff;
  font-family: "Inter", "Helvetica";
  height: 48px;
  font-weight: bold;     
  justify-content: center;
  align-items: center;
  
  
}

.nuestros .frame-3 .botCita:hover{
  background-color: #665B28;
  box-shadow: 4px 4px 7.7px #000000;
}

/*TRATAMEINTOS*/

.tratamientos{
  grid-row: 4;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 176px;
}

.tratamientos .rectangle{
  grid-column: 1;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000;
}

.tratamientos .frame{
  grid-column: 2;  
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: #18524d;
  border-radius: 20px;  
  justify-content: center;  
  align-items: center;
  box-shadow: 4px 4px 7.7px #000000;
  margin-top:5% ;
  margin-bottom: 5%;
  height: auto;
}

.tratamientos .frame .text-wrapper{
  grid-row: 2;  
  font-family: 'Georgia';  
  font-size: 32px;    
  align-items: right;
  text-align: right;  
  color: #ffffff;
  padding-right: 30px;   
}

.tratamientos .frame .text-wrapper-2{
  grid-row: 1;  
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: right;  
  justify-content: right;  
  padding-top: 20px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 60px;
}

/*DIAGNÓSTICOS*/

.diagnosticos{
  grid-row: 5;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 176px;
 }

.diagnosticos .contImg{
  grid-column: 2;
  display: flex;
  
  justify-content: center;  
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000;  
  }

.diagnosticos .frame{
  grid-column: 1;
  display: grid;
  grid-template-rows: 20% 80%;
  border-radius: 20px;  
  justify-content: center;  
  align-items: center;
  box-shadow: 4px 4px 7.7px #000000;
  margin-top:5% ;
  margin-bottom: 5%;
  border-color: #18524d;
}

.diagnosticos .frame .text-wrapper{
  grid-row: 1;
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: left;  
  justify-content: left;  
  padding-top: 20px;
  color: black;
  padding-left: 30px;
  padding-top: 60px;
}

.diagnosticos .frame .p{
  grid-row: 2;  
  display: flex;
  font-family: 'Georgia';  
  font-size: 32px;    
  justify-content: left;
  text-align: left;  
  color: black;
  padding-right: 2%;
  padding-left: 30px; 
}

/*DESCANSO*/
.descanso{
  grid-row: 6;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 176px;
}

.descanso .contIm{
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000;  
  }

  .descanso .frame{
    grid-column: 2;
    display: grid;
    width: 100%;
    grid-template-rows: 20% 80%;
    border-radius: 20px;  
    justify-content: center;  
    align-items: center;
    box-shadow: 4px 4px 7.7px #000000;
    margin-top:5% ;
    margin-bottom: 5%;
    background-color: #18524d;
  }

  .descanso .frame .text1{
    grid-row: 2;  
    display: flex;
    font-family: 'Georgia';  
    font-size: 32px;    
    justify-content: right;
    text-align: right;  
    color: #ffffff;
    padding-right: 30px; 
  }

.descanso .frame .text2{
  grid-row: 1;  
  justify-content: center;
  display: flex;
  margin-bottom: 32px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: right;  
  justify-content: right;  
  padding-top: 20px;
  color: #ffffff;
  padding-right: 30px;
  padding-top: 60px;
}


/*TALLERES*/
.talleres {
  grid-row: 7;
  display: grid;
  grid-template-rows: auto auto auto;
  margin-top: 176px;
  justify-content: center;
  align-items: center;
}

.talleres .text-wrapper {
  grid-row: 1;
  flex-direction: column;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: center;  
  justify-content: center;  
}

.talleres .frame{
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.talleres .frame .taller1{
  grid-column: 1;
  display: grid;
  grid-row: 30% 10% 50%;
  border-color: #18524d;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000; 
 margin-right: 5%;
  padding: 5%; 
  justify-content: center;
  align-items: center;
}


.talleres .frame .taller1 .img1{
  grid-row: 1;
  padding: 2%;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 100%;  
}

.talleres .frame .taller1 .frame-1{
  grid-row: 2;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  text-align: left;  
  justify-content: left;
  padding-top: 20px;

}

.talleres .frame .taller1 .p1{
  grid-row: 3;
  font-family: "Georgia";
  font-size: 24px;
}

.talleres .frame .taller2{
  grid-column: 2;
  display: grid;
  grid-row: 30% 10% 50%;
  border-color: #18524d;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000;
   margin-right: 2.5%;
   margin-left: 2.5%;
  padding: 5%;
  justify-content: center;
  align-items: center; 
}


.talleres .frame .taller2 .img2{
  grid-row: 1;
  display: flex;
  padding: 2%;
  width: 100%;
  height: 100%;
}

.talleres .frame .taller2 .frame-2{
  grid-row: 2;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  text-align: left;  
  justify-content: left; 
  padding-top: 20px; 

}

.talleres .frame .taller2 .p2{
  grid-row: 3;
  display: flex;
  font-family: "Georgia";
  font-size: 24px;  
}

.talleres .frame .taller3{
  grid-column: 3;
  display: grid;
  grid-row: 30% 10% 50%;
  border-color: #18524d;
  border-radius: 20px;
  box-shadow: 4px 4px 7.7px #000000; 
  margin-left: 5%;
  padding: 5%; 
  justify-content:center;
  align-items: center;
}


.talleres .frame .taller3 .img3{
  display: flex;
  grid-row: 1;
  padding: 2%;
  width: 100%;
  height: 100%;  
}

.talleres .frame .taller3 .frame-3{
  grid-row: 2;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  text-align: left;  
  justify-content: left;  
  padding-top: 20px;

}

.talleres .frame .taller3 .p3{
  display: flex;
  grid-row: 3;
  font-family: "Georgia";
  font-size: 24px;
}

/*FOOTER */
.containerFooter{
  background:#18524d;
  margin-top: 64px;
}

.redesSociales{
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 16px;
  padding-left: 40px;

}

.avisosLegales{
  display: flex;
  justify-content: flex-end;
  gap:48px;
  color: white;
  font-family: "ABeeZee-Regular", Helvetica;
  font-size: 20px;
  padding-bottom: 8px;
  padding-right: 40px;
}